@model 
@{
    ViewBag.Title = "Inventory";
}
<h1>@ViewBag.Title.</h1>


<h2>Totals</h2>
<table>
    <tr>
        <th>
            Make <br />
        </th>
        <th>
            Model <br />
        </th>
        <th>
            Year <br />
        </th>
                
    </tr>
    <tr>
        <td>
            
        </td>
    </tr>
</table>