@model Car_Dealership_MVC.Models.Vehicle

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<img src="@Url.Content(ViewBag.path)" alt="Car Image" />

Image Path: @ViewBag.path - -
